<zoom-button
    raetId="largeButton1"
    type="button"
    mode="primary">
      Primary
</zoom-button>

<zoom-button
    raetId="largeButton2"
    type="button"
    mode="secondary">
      Secondary
</zoom-button>

<zoom-button
    raetId="largeButton3"
    type="button"
    isDisabled="true">
      Disabled
</zoom-button>

<br><br>

<zoom-button
    raetId="largeButton1"
    type="button"
    size="medium"
    mode="primary">
      Primary
</zoom-button>

<zoom-button
    raetId="largeButton2"
    type="button"
    size="medium"
    mode="secondary">
      Secondary
</zoom-button>

<zoom-button
    raetId="largeButton3"
    type="button"
    size="medium"
    isDisabled="true">
      Disabled
</zoom-button>

<br><br>

<zoom-button
    raetId="largeButton6"
    type="button"
    size="small"
    mode="primary">
      Primary
</zoom-button>

<zoom-button
    raetId="largeButton7"
    type="button"
    size="small"
    mode="secondary">
      Secondary
</zoom-button>

<zoom-button
    raetId="largeButton8"
    type="button"
    size="small"
    isDisabled="true">
      Disabled
</zoom-button>
